<div class="row">
	<div class="col-sm-12">
		<h1>Homepage</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<a href="/register/list">Current Users</a> |
		<a href="/register">Register</a>
	</div>
</div>
